### This notebook will be used for the applied data science capstone project

In [6]:
import pandas as pd
import numpy as np

# Business Understanding:

- **Audience:** Drivers in the Seattle area
- **Objective:** To make drivers less likely to have a severe accident by making drivers more alert when there is a higher chance of a severe accident
- **How:** By providing drivers with informational alerts that a severe accident has a high probability of occurring. The probability will be determined by using predictive analytics developed by using historical accident data from the city of Seattle.

# Data understanding:

Data being used is from Seattle's historical collision data provide by is from the SDOT Traffic Management Division. (Provided by the course)

In [7]:
!wget -O Data-Collisions.csv https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

--2020-10-03 16:12:36--  https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
Resolving s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73917638 (70M) [text/csv]
Saving to: ‘Data-Collisions.csv’

Data-Collisions.csv 100%[===================>]  70.49M  21.5MB/s    in 3.4s

2020-10-03 16:12:40 (20.7 MB/s) - ‘Data-Collisions.csv’ saved [73917638/73917638]

### Example of the data

In [21]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

### Link to the metadata https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

### Key pieces of the data I'll be using to develop my model will be the severity code of the accident, road conditions, light conditions, weather.

**SEVERITY CODE** : I'll define a severe accident as any accident in which a serious injury or fatality accord (values: 3, 2). I'll drop all the rows where an injury is unknown (values: 0) and use the severity code of 1 as an accident, but with low severity

In [23]:
df_serverity = df[['SEVERITYDESC','SEVERITYCODE']]
df_serverity

                          SEVERITYDESC  SEVERITYCODE
0                     Injury Collision             2
1       Property Damage Only Collision             1
2       Property Damage Only Collision             1
3       Property Damage Only Collision             1
4                     Injury Collision             2
...                                ...           ...
194668                Injury Collision             2
194669  Property Damage Only Collision             1
194670                Injury Collision             2
194671                Injury Collision             2
194672  Property Damage Only Collision             1

[194673 rows x 2 columns]

**WEATHER** : I'll look at the weather conditions that are associated with accidents with severity of 2 or greater.

In [26]:
df_weather = df[['WEATHER', 'SEVERITYCODE']]
df_weather

         WEATHER  SEVERITYCODE
0       Overcast             2
1        Raining             1
2       Overcast             1
3          Clear             1
4        Raining             2
...          ...           ...
194668     Clear             2
194669   Raining             1
194670     Clear             2
194671     Clear             2
194672     Clear             1

[194673 rows x 2 columns]

**Road Conditions** : I'll look at the weather conditions that are associated with accidents with severity of 2 or greater.

In [27]:
df_weather = df[['ROADCOND', 'SEVERITYCODE']]
df_weather

       ROADCOND  SEVERITYCODE
0           Wet             2
1           Wet             1
2           Dry             1
3           Dry             1
4           Wet             2
...         ...           ...
194668      Dry             2
194669      Wet             1
194670      Dry             2
194671      Dry             2
194672      Wet             1

[194673 rows x 2 columns]

**Light Conditions** : I'll look at the Light conditions that are associated with accidents with severity of 2 or greater.

In [28]:
df_light = df[['LIGHTCOND', 'SEVERITYCODE']]
df_light

                      LIGHTCOND  SEVERITYCODE
0                      Daylight             2
1       Dark - Street Lights On             1
2                      Daylight             1
3                      Daylight             1
4                      Daylight             2
...                         ...           ...
194668                 Daylight             2
194669                 Daylight             1
194670                 Daylight             2
194671                     Dusk             2
194672                 Daylight             1

[194673 rows x 2 columns]

# Data Preparation:

# Modeling:

# Evaluation:

# Deployment: